include _mixin_button

h1.vo_b_title Buttons
    .class_button
        span.vo_b_chapter Flat buttons
        div
        +button({label: 'BUTTON', isRipple: true, class: 'vo_simple_button'})
        +button({label: 'COLORED',isRipple: true, class: 'vo_simple_button vo_simple_button_color_blue vo_ripple_gray'})
        +button({label: 'DISABLED',isRipple: true, class: 'vo_simple_button vo_simple_button_color_gray'})
    .class_button
        span.vo_b_chapter Raised buttons
        div
        +button({label: 'BUTTON',isRipple: true, class: 'vo_simple_button vo_button_border'})
        +button({
            label: 'COLORED', isRipple: true,
            class: 'vo_simple_button vo_simple_button_color_white vo_button_border vo_simple_button_background_blue vo_ripple_blue '
        })
        +button({
            label: 'DISABLED',isRipple: true,
            class: 'vo_simple_button vo_simple_button_color_gray vo_button_border'
        })

    h1.vo_b_title Icon Button
    .class_button
        span.vo_b_chapter icon buttons
        +button({label: 'dehaze',isRipple: true, class: 'material-icons vo_button_icon '})
        +button({label: 'arrow_back',isRipple: true, class: 'material-icons vo_button_icon '})
        +button({label: 'arrow_forward',isRipple: true, class: 'material-icons vo_button_icon '})
        +button({label: 'check',isRipple: true, class: 'material-icons vo_button_icon '})
        +button({label: 'close',isRipple: true, class: 'material-icons vo_button_icon '})
        +button({label: 'fullscreen',isRipple: true, class: 'material-icons vo_button_icon '})
        +button({label: 'fullscreen_exit',isRipple: true, class: 'material-icons vo_button_icon '})
        +button({label: 'more_vert',isRipple: true, class: 'material-icons vo_button_icon '})
        +button({label: 'refresh',isRipple: true, class: 'material-icons vo_button_icon '})
    .class_button
        span.vo_b_chapter styled
        +button({label: 'favorite',isRipple: true, class: 'material-icons vo_button_icon vo_button_icon_color_black vo_ripple_gray'})
        +button({label: 'favorite',isRipple: true, class: 'material-icons vo_button_icon vo_button_icon_color_pink vo_ripple_gray'})
        +button({label: 'favorite',isRipple: true, class: 'material-icons vo_button_icon vo_ripple_gray'})
    .class_button
        span.vo_b_chapter styled
        +button({
            label: 'directions_walk',isRipple: true,
            class: 'material-icons vo_button_icon vo_border_quarter vo_ripple_gray vo_button_icon_color_black_hover'
        })
        +button({
            label: 'directions_bike',isRipple: true,
            class: 'material-icons vo_button_icon vo_button_icon vo_border_quarter vo_ripple_gray vo_button_icon_color_black_hover'
        })
        +button({
            label: 'directions_bus',isRipple: true,
            class: 'material-icons vo_button_icon vo_border_quarter vo_ripple_gray vo_button_icon_color_black_hover'
        })
        +button({
            label: 'directions_car',isRipple: true,
            class: 'material-icons vo_button_icon vo_border_quarter vo_ripple_gray vo_button_icon_color_black_hover'
        })
.vo_footer_button
    .vo_position_footer
        h1.vo_b_title Floating Action Button
        .class_button
            span.vo_b_chapter Regular
            .vo_class_indent
                +button({
                    label: 'arrow_forward',isRipple: true,
                    class: 'material-icons vo_floating_button vo_ripple_pink vo_floating_button_color_white vo_floating_button_background_pink vo_floating_button_position'
                })
                +button({
                    label: 'create',isRipple: true,
                    class: 'material-icons vo_floating_button vo_floating_button_color_white vo_ripple_blue vo_floating_button_background_blue vo_floating_button_position'
                })
                +button({
                    label: 'add',isRipple: true,
                    class: 'material-icons vo_floating_button vo_floating_button_color_gray vo_ripple_gray vo_floating_button_position'
                })

            span.vo_b_chapter  Mini
            .vo_class_indent
                +button({
                    label: 'check',isRipple: true,
                    class: 'material-icons vo_mini_button vo_ripple_green vo_mini_button_color_white vo_mini_button_background_green'
                })
                +button({
                    label: 'reply',isRipple: true,
                    class: 'material-icons vo_mini_button vo_ripple_purple vo_mini_button_color_white vo_mini_button_background_purple'
                })
                +button({
                    label: 'close',isRipple: true,
                    class: 'material-icons  vo_mini_button vo_mini_button_color_gray vo_ripple_gray'
                })
    .vo_position_footer
        h1.vo_b_title FAB Speed Dial
            .class_button
                .vo_footer_right
                    +button({
                        label: 'close', isRipple: true,
                        class: 'material-icons  vo_mini_button vo_mini_button_color_gray vo_ripple_gray vo_footer_right_button'
                    })
                    +button({
                        label: 'favorite',isRipple: true,
                        class: 'material-icons  vo_mini_button vo_mini_button_color_gray vo_ripple_gray vo_footer_right_button'
                    })
                    +button({
                        label: 'create',isRipple: true,
                        class: 'material-icons  vo_mini_button vo_mini_button_color_gray vo_ripple_gray vo_footer_right_button'
                    })
                    +button({
                        label: 'dehaze',isRipple: true,
                        class: 'material-icons vo_floating_button vo_ripple_orange vo_mini_button_color_white'
                    })


