h1.vo_b_title Input (Forms)
    .class_button
    .vo_input_display
        .vo_input_display_line
            .vo_wrapper_input_form
                .vo_wrapper_input
                    input(type='text' placeholder='Input name').vo_input_text
            .vo_wrapper_input_form
                 .vo_wrapper_input
                    input(type='text' placeholder='Input name').vo_input_text


        .vo_wrapper_input_form
            label.vo_label_input Label
            .vo_wrapper_input.vo_wrapper_input_large_form
                input(type='text' placeholder='').vo_input_text
            p.vo_input_hint here is a hint






        .vo_wrapper_input_form
            label.vo_label_input Label
            .vo_wrapper_input
                input(type='text' placeholder='').vo_input_text
            p.vo_input_hint here is a hint

        .vo_wrapper_input_form(style="margin-left: 10px")
            label.vo_label_input Label
            .vo_wrapper_input
                textarea(type='text' placeholder='').vo_input_text
            p.vo_input_hint here is a hint



