h1.vo_b_title Input (Forms)
    .class_button
        .vo_input_form
             input(type='text' placeholder='Input name').vo_input_name
             input(type='text' placeholder='Input surname').vo_input_name

        input(type='text' placeholder='Active text input').vo_input_name.vo_input_blue_area
        input(type='text' placeholder='Invalid text input').vo_input_name
        input(type='text' placeholder='I’m disabled').vo_input_name
        input(type='text' placeholder='Floating label').vo_input_name

        .vo_input_form_all
