h1.vo_b_title Progress Circular
    .class_button
    .vo_class_loader
        .vo_loader.vo_loader_little_1
        .vo_loader.vo_loader_little_2
        .vo_loader.vo_loader_little_3
        .vo_loader.vo_loader_little_4
        .vo_loader.vo_loader_little_5

h1.vo_b_title Progress Linear
    .class_button
        .vo_loader_line.vo_loader_line_small
        .vo_loader_line.vo_loader_line_big