h1.vo_b_title Radio Button
    p.vo_container_contant.vo_checkbox_tittle Keep Wi-Fi on during sleep
    .class_button
    label.vo_container_radio Always
        input(type="radio" name="radio").vo_radio_input
        span.vo_radio_checkmark
        .vo_ripple_dark_green_radio

    .class_button
    label.vo_container_radio Only when plugged in
        input(type="radio" name="radio" checked).vo_radio_input
        span.vo_radio_checkmark
        .vo_ripple_dark_green_radio

    .class_button
    label.vo_container_radio Never
        input(type="radio" name="radio" disabled).vo_radio_input
        span.vo_radio_checkmark
        .vo_ripple_dark_green_radio