div
    .vo_slider
        .vo_wrapper_slider
            .vo_slider_track_wrapper
                .vo_slider_track_background
                .vo_slider_track_fill
            .vo_slider_ticks_container
                .vo_slider_ticks
            .vo_slider_thumb_container
                .vo_slider_focus_ring
                .vo_slider_thumb
                .vo_slider_thumb_label
                    span.vo_slider_thumb_label_text

