h1.vo_b_title Radio Button
    .class_button
    label.switch
        input(type="checkbox" checked).vo_switch_button
        span.slider.round

    .class_button
    label.switch
        input(type="checkbox").vo_switch_button
        span.slider.round
            .slider-circle
                .slider-circle-ripple
                    .rippleJS


    .class_button
    label.switch
        input(type="checkbox").vo_switch_button
        span.slider.round
        .vo_ripple_dark_green_swich_off
