@import "../scss/mixin";
@import "../scss/variables";


button{
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

}

.class_button {
  margin-top: 90px;
  @include common-styles();
  position: relative;
}

.vo_simple_button {
  border-radius: 5px;
  font-size: 16px;
  color: $color-black;
  padding: 8px 45px;
  margin: 28px 37px 0 42px;

  &_color_blue {
    color: $color-blue;
  }
  &_color_gray{
    color: $color-gray;
  }
  &_color_white{
    color: $color_white;
  }
}
.vo_ripple_gray{
  background: $color-white;
  $initial-color: rgba(0, 0, 0, 0.04);
  $final-color: rgba(0, 0, 0, 0.1);
  @include with-ripple($initial-color, $final-color);
}

.vo_button_border {
  background: $color-white;
  @include shadow_button;
}
.vo_ripple_blue {
  background: $color-blue-dark;
  $initial-color: rgba(22, 89, 255, 0.84);
  $final-color: rgba(33, 103, 255, 0.73);
  @include with-ripple($initial-color, $final-color);
}

.vo_button_icon {
  padding: 10px;
  margin-left: 20px;
  border-radius: 100px;
  color: $color-light_gray;

  &_color_black{
    color: $color-black;
  }
  &_color_pink{
    color: $color-pink;
  }
}

.vo_border_quarter {
  border-radius: 5px;
}

.vo_floating_button {
  padding: 20px;
  margin-left: 21px;
  border-radius: 100px;
  @include shadow_button;
  &_color_white{
    color:$color-white;
  }
  &_color_gray{
    color: $color-gray;
  }
  &_indent{
    position: relative;
    margin-right: 10px;
  }
}
.vo_ripple_pink{
  background: $color-pink;
  $initial-color: rgba(244, 14, 192, 0.71);
  $final-color: rgba(244, 143, 211, 0.6);
  @include with-ripple($initial-color, $final-color);

}

.vo_class_indent {
  margin: 20px 35px 25px 70px;
}

.vo_mini_button {
  padding: 10px;
  margin-left: 30px;
  border-radius: 100px;
  @include shadow_button;
  &_color_white{
    color:$color-white;
  }
  &_color_gray{
    color: $color-gray;
  }
}

.vo_ripple_green {
  background: $color-green;
  $initial-color: rgba(83, 244, 12, 0.92);
  $final-color: rgba(103, 244, 96, 0.6);
  @include with-ripple($initial-color, $final-color);
}
.vo_ripple_purple {
  background: $color-purple;
  $initial-color: rgba(102, 15, 244, 0.92);
  $final-color: rgba(111, 90, 244, 0.6);
  @include with-ripple($initial-color, $final-color);
}
.vo_position_footer {
  display: flex;
  flex: 0 0 50%;
  margin: 0 auto;
  flex-direction: column;
}
.vo_footer_button{
  display: flex;
}
.vo_footer_right{
  display: table-caption;

 }
 .vo_footer_right_button{
   margin-bottom: 15px;
 }

.vo_ripple_orange {
  background: $color-orange;
  $initial-color: rgba(244, 132, 45, 0.92);
  $final-color: rgba(244, 167, 26, 0.84);
  @include with-ripple($initial-color, $final-color);
}

//TOOLTIP

.tooltip{
  visibility: hidden;
  opacity: 0;

}
.tooltip_wrapper{
  flex: 25%;
 display: flex;
  align-items: center;
  margin: 50px;
  &:hover{
    .tooltip {
      font-family: $font-family;
      font-size: 10px;
      visibility: visible;
      opacity: 1;
      align-items: center;
      color: $color-white;
      padding: 10px 15px;
      background: $color-gray;
      &_left{
        position: absolute;
        left: 0;

      }
      &_top{
        position: absolute;
        top:0;
        right: 40%;
      }
      &_bottom{
        position: absolute;
        bottom: 0;
        left: 30%;
      }
    }
  }

}
.vo_button_tooltip{
  display: flex;
}






