.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;

}

.switch  {
  .vo_switch_button {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider-circle,
.slider.round:before{
  color: $color_light_gray;
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0;
  bottom: -3px;
  background-color: $color_light_gray;
  transition: .4s;
}

.slider-circle-ripple {
  width: 55px;
  height: 55px;
  position: absolute;
  top: -15px;
  border-radius: 50%;
  left: -15px;

  &:hover {
    background-color: $color_light_gray;
    opacity: .3;
  }
}

.vo_switch_button:checked + .slider {
  background-color: $color_light_green;
}

.vo_switch_button:focus + .slider {
  box-shadow: 0 0 1px $color_light_green;
}

.vo_switch_button:checked + .slider .slider-circle:hover .slider-circle-ripple {
  background-color: #259b24;
  opacity: .3;
}

.vo_switch_button:checked + .slider:before,
.vo_switch_button:checked + .slider .slider-circle {
  transform: translateX(26px);
  color: #259b24;
  background-color: #259b24;
}

.vo_ripple_switch.rippleJS.ripple{
  opacity: 0.5;
  position: absolute;
  top:-15px;
  left: -12px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}