h1.vo_b_title Checkbox
    .class_button

    label.vo_container.vo_container_contant  Notifications
        input(type="checkbox").vo_checkbox.vo_ripple_dark_green
        span.vo_checkmark
        div.vo_checkmark_ripple
            .rippleJS

    span.vo_b_chapter.vo_b_chapter_content Notify me about updates to apps or games that I’ve donnloaded

    .class_button.vo_class_items
    label.vo_container.vo_container_contant  Auto-updates
        input(type="checkbox").vo_checkbox.vo_ripple_dark_green
        span.vo_checkmark
        div.vo_checkmark_ripple
            .rippleJS

    span.vo_b_chapter.vo_b_chapter_content Auto-update apps over wifi only


    .class_button.vo_class_items
    label.vo_container.vo_container_contant  Clear search history
        input(type="checkbox").vo_checkbox.vo_ripple_dark_green
        span.vo_checkmark
        div.vo_checkmark_ripple
            .rippleJS
    span.vo_b_chapter.vo_b_chapter_content Remove all the searches you have ever performed


