include _mixin_button
h1.vo_b_title Menus & Menu Items
    .class_button
    .vo_menu_icon
        .rippleJS
        +button({label: 'schedule', class: 'material-icons vo_button_icon_menu '})
        span.vo_icon_menu_text Recent Articles

    .vo_menu_icon
        .rippleJS
        +button({label: 'archive', class: 'material-icons vo_button_icon_menu '})
        span.vo_icon_menu_text Archive

    .vo_menu_icon
        .rippleJS
        +button({label: 'check', class: 'material-icons vo_button_icon_menu '})
        span.vo_icon_menu_text Completed

    .vo_gray_line

    .vo_menu_icon.vo_menu_icon_info
        .rippleJS
        +button({label: 'send', class: 'material-icons vo_button_icon_menu '})
        span.vo_icon_menu_text Sent
        +button({label: 'info', class: 'material-icons vo_icon_info '})

    .vo_menu_icon.vo_menu_icon_info
        .rippleJS
        +button({label: 'delete', class: 'material-icons vo_button_icon_menu '})
        span.vo_icon_menu_text Trash
        +button({label: 'info', class: 'material-icons vo_icon_info '})

    .vo_menu_icon.vo_menu_icon_info
        .rippleJS
        +button({label: 'star', class: 'material-icons vo_button_icon_menu '})
        span.vo_icon_menu_text Starred
        +button({label: 'info', class: 'material-icons vo_icon_info '})

    .vo_menu_icon.vo_menu_icon_info
        .rippleJS
        +button({label: 'forum', class: 'material-icons vo_button_icon_menu '})
        span.vo_icon_menu_text Forums
        +button({label: 'info', class: 'material-icons vo_icon_info '})

    .vo_menu_icon.vo_menu_icon_info
        .rippleJS
        +button({label: 'assistant_photo', class: 'material-icons vo_button_icon_menu '})
        span.vo_icon_menu_text Updates
        +button({label: 'info', class: 'material-icons vo_icon_info '})

h1.vo_b_title Menu Dropdown
    .class_button
    .vo_menu_shadow

        .vo_menu_icon
            .rippleJS
            +button({label: 'schedule', class: 'material-icons vo_button_icon_menu '})
            span.vo_icon_menu_text Recent Articles

        .vo_menu_icon
            .rippleJS
            +button({label: 'archive', class: 'material-icons vo_button_icon_menu '})
            span.vo_icon_menu_text Archive

        .vo_menu_icon
            .rippleJS
            +button({label: 'check', class: 'material-icons vo_button_icon_menu '})
            span.vo_icon_menu_text Completed


