include _mixin_button

h1.vo_b_title Shadow
    .class_button
    .vo_class_shadows
        .vo_box_shadows.vo_box_shadows_1
        .vo_shadow_text z-depth = 1
        .vo_box_shadows.vo_box_shadows_2
        .vo_shadow_text z-depth = 2
        .vo_box_shadows.vo_box_shadows_3
        .vo_shadow_text z-depth = 3
        .vo_box_shadows.vo_box_shadows_4
        .vo_shadow_text z-depth = 4
        .vo_box_shadows.vo_box_shadows_5
        .vo_shadow_text z-depth = 5
