.vo_simple_slider
    div
        p.vo_content_item_header.vo_content_item Music, video, games & other media
        .vo_slider
            .vo_wrapper_slider
                .vo_slider_track_wrapper
                    .vo_slider_track_background
                    .vo_slider_track_fill
                .vo_slider_ticks_container
                    .vo_slider_ticks
                .vo_slider_thumb_container
                    .vo_slider_focus_ring
                    .vo_slider_thumb

    div
        p.vo_content_item_header.vo_content_item Notifications
        .vo_slider
            .vo_wrapper_slider
                .vo_slider_track_wrapper
                    .vo_slider_track_background
                    .vo_slider_track_fill
                .vo_slider_ticks_container
                    .vo_slider_ticks
                .vo_slider_thumb_container
                    .vo_slider_focus_ring
                    .vo_slider_thumb



.vo_simple_slider.vo_simple_slider_second

    .vo_slider
        input.vo_input_value
        span.vo_input_text R
        .vo_wrapper_slider
            .vo_slider_track_wrapper
                .vo_slider_track_background
                .vo_slider_track_fill.vo_slider_track_fill_color_blue
            .vo_slider_ticks_container
                .vo_slider_ticks
            .vo_slider_thumb_container
                .vo_slider_focus_ring
                .vo_slider_thumb.vo_slider_thumb_color_blue


    .vo_slider
        input.vo_input_value
        span.vo_input_text G
        .vo_wrapper_slider
            .vo_slider_track_wrapper
                .vo_slider_track_background
                .vo_slider_track_fill.vo_slider_track_fill_color_blue
            .vo_slider_ticks_container
                .vo_slider_ticks
            .vo_slider_thumb_container
                .vo_slider_focus_ring
                .vo_slider_thumb.vo_slider_thumb_color_blue


    .vo_slider
        input.vo_input_value
        span.vo_input_text B
        .vo_wrapper_slider
            .vo_slider_track_wrapper
                .vo_slider_track_background
                .vo_slider_track_fill.vo_slider_track_fill_color_blue
            .vo_slider_ticks_container
                .vo_slider_ticks
            .vo_slider_thumb_container
                .vo_slider_focus_ring
                .vo_slider_thumb.vo_slider_thumb_color_blue


.vo_simple_slider.vo_simple_slider_last
    div
        p.vo_content_item_header.vo_content_item Brightness
        .vo_slider
            .vo_wrapper_slider
                .vo_slider_track_wrapper
                    .vo_slider_track_background
                    .vo_slider_track_fill.vo_slider_track_fill_color_green
                .vo_slider_ticks_container
                    .vo_slider_ticks
                .vo_slider_thumb_container
                    .vo_slider_focus_ring
                    .vo_slider_thumb.vo_slider_thumb_color_green
                    .vo_slider_thumb_label
                        span.vo_slider_thumb_label_text

.vo_simple_slider.vo_simple_slider_last
    div
        p.vo_content_item_header.vo_content_item Ratings
        .vo_slider
            .vo_wrapper_slider
                .vo_slider_track_wrapper
                    .vo_slider_track_background
                    .vo_slider_track_fill.vo_slider_track_fill_color_green
                .vo_slider_ticks_container
                    .vo_slider_ticks
                .vo_slider_thumb_container
                    .vo_slider_focus_ring
                    .vo_slider_thumb.vo_slider_thumb_color_green
                    .vo_slider_thumb_label
                        span.vo_slider_thumb_label_text

