h1.vo_b_title Radio Button
    .class_button
    label.switch
        input(type="checkbox" checked).vo_switch_button
        span.slider.round
            .slider-circle
                .slider-circle-ripple
                    .rippleJS


    .class_button.vo_class_items
    label.switch
        input(type="checkbox").vo_switch_button
        span.slider.round
            .slider-circle
                .slider-circle-ripple
                    .rippleJS


    .class_button.vo_class_items
    label.switch
        input(type="checkbox").vo_switch_button
        span.slider.round
            .slider-circle
                .slider-circle-ripple
                    .rippleJS

