.wrapper_tabs
    h2 A. No ink effect and no sliding bar
    div.tabs
        button.tab__button.yellow_text ITEM ONE
        button.tab__button.yellow_text ITEM ONE
        button.tab__button.yellow_text ITEM ONE
    h2 B. The bar slides to the selected tab
    div.tabs
        button.tab__button.yellow ITEM ONE
        button.tab__button.yellow ITEM ONE
        button.tab__button.yellow ITEM ONE
    h2 C. Inky Tabs
    div.tabs
        button.tab__button.yellow.ripple ITEM ONE
        button.tab__button.yellow.ripple ITEM ONE
        button.tab__button.yellow.ripple ITEM ONE
    h2 
    div.tabs
        button.tab__button.blue-button-text.ripple ITEM ONE
        button.tab__button.blue-button-text.ripple ITEM ONE
        button.tab__button.blue-button-text.ripple ITEM ONE
    h2
    div.tabs_header
        div.tab__top
            div.top__picture
                button.material-icons menu
            div.top__title TITLE
            div.top__picture
                button.material-icons search
            div.top__picture
                button.material-icons more_vert
        button.tab__button.yellow.ripple ITEM ONE
        button.tab__button.yellow.ripple ITEM ONE
        button.tab__button.yellow.ripple ITEM ONE
    h2
    div.tabs_conteiner
        .tabs__button_conteiner
            button.tab__button.yellow.ripple ITEM ONE
            button.tab__button.yellow.ripple ITEM ONE
        div.conteiner__picture
            button.material-icons search
