doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        title Title
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        link(rel='stylesheet', href='./css/main.css')

    body

      .vo_body
        include examples/button
        include examples/button_tooltip
        include examples/checkbox
        include examples/radio_button
        include examples/switch_button
        include examples/menu_items
        include examples/shadows
        include examples/progress_line
        include examples/input
        include examples/slider_range
        include examples/inset_dividers
        include examples/сard_heading_calories
        include examples/list_heading
        include examples/tabs


        script(async='', src='https://cdn.jsdelivr.net/npm/vanilla-ripplejs@1.0.6', integrity='sha384-OlarGErerEgz/M7123pQTTek4pUIiR6t0BK09bTmWDi2cZYbv3VHrriaXDnA0Oup', crossorigin='anonymous')
        script(src='main.js')


