doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        title Title
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        link(rel='stylesheet', href='./css/main.css')
    body


        include exemples/button
        include exemples/button_tooltip
        include exemples/checkbox