doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        title Title
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        link(rel='stylesheet', href='./css/main.css')
script(async='', src='https://cdn.jsdelivr.net/npm/vanilla-ripplejs@1.0.6', integrity='sha384-OlarGErerEgz/M7123pQTTek4pUIiR6t0BK09bTmWDi2cZYbv3VHrriaXDnA0Oup', crossorigin='anonymous')

    body

        include exemples/button
        include exemples/button_tooltip
        include exemples/checkbox
        include exemples/radio_button
        include exemples/switch_button
        include exemples/menu_items
        include exemples/shadows
        include exemples/progress_line
        include exemples/input

