@import "variables";

@mixin common-styles() {
  font-family: 'Roboto', sans-serif;
  &, * {
    box-sizing: border-box;

  }
}

@mixin with-ripple($initial-color, $final-color) {
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: $initial-color radial-gradient(circle, transparent 1%, $initial-color 1%) center/15000%;
  }

  &:active {
    background-color: $final-color;
    background-size: 100%;
    transition: background 0s;
  }
}

@mixin shadow_button() {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

@mixin box-shadows ($z-depth) {
  @if $z-depth == 1 {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  } @else if $z-depth == 2 {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  } @else if $z-depth == 3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  } @else if $z-depth == 4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.24), 0 25px 55px 0 rgba(0, 0, 0, 0.19);
  } @else if $z-depth == 5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.24), 0 40px 77px 0 rgba(0, 0, 0, 0.19);
  }
}

