$font-family: 'Roboto', sans-serif;
$color-gray: #a8a8a8;
$color-blue: #60befb;
$color-blue-dark: #2934f4;
$color-black: #000000;
$color-pink: #e91e63;
$color-light_gray: #757575;
$color-white: #ffffff;
$color-green:#259b24;
$color_purple: #673ab7;
$color_orange: #f54a29;
$color_dark_green:#009688;
$color_light_green:#bfe6d3;
$color_light_blue:#4285f4;
$color_light_pink: #ffb9f0;
$color_opacity_gray:#a8a8a838;
$color-info_gray:#bbbbbb;
$color_loader_blue:#0070ce;
$color_dark_purple:#414cb7;
$color_dark_gray:#4d4d4e;
$color-light_black:rgba(0, 0, 0, 0.87);
$color_very_light_blue:#e8effc;
$color_very_light_gray:#e8e8e8;
$color_blue_light_2:#4e7fed;
$color-very_light_gray_2:rgba(0, 0, 0, 0.12);
$color-gray_2:#808080;












