$font-family: 'Roboto', sans-serif;
$color-gray: #a8a8a8;
$color-blue: #328afb;
$color-blue-dark: #4285f4;
$color-black: #000000;
$color-pink: #e91e63;
$color-light_gray: #757575;
$color-white: #ffffff;
$color-green:#259b24;
$color_purple: #673ab7;
$color_orange: #f54a29;


