$font-family: 'Roboto', sans-serif;
$color-gray: #a8a8a8;
$color-blue: #60befb;
$color-blue-dark: #2934f4;
$color-black: #000000;
$color-pink: #e91e63;
$color-light_gray: #757575;
$color-white: #ffffff;
$color-green:#259b24;
$color_purple: #673ab7;
$color_orange: #f54a29;
$color_dark_green:#009688;
$color_light_green:#bfe6d3;
$color_light_blue:#4285f4;
$color_light_pink: #ffb9f0;
$color_opacity_gray:#a8a8a838;
$color-info_gray:#bbbbbb;
$color_loader_blue:#0070ce;









