@import "mixin";
@import "../components/button";
@import "variables";
@import "common_text";
@import "../components/checkbox";
@import "../components/radio_button";
@import "../components/switch_button";
@import "../components/progress_line";
@import "../components/menu_items";
@import "../components/shadows";
@import "../components/input";
@import "../components/slider_range";
@import "../components/inset_dividers";
@import "../components/—Åard_heading_calories";

.vo_header{
  position: fixed;
  top:0;
  width: 100%;
  height: 100px;
  background-color:$color-green ;
  z-index: 2;
  left: 0;
  right: 0;
}
.vo_navbar{

  position: fixed;
  top:100px;
  height: 100vh;
  width: 300px;
  background-color: $color_light_green;
  z-index: 3;
  left: 0;
}
.vo_body{
  position: relative;
  top:100px;
  left: 300px;
}

